/*INICIO*/

body.inicio {
    margin: 0;
    padding: 0;
   
    background-image: url('./img/01_principal/plantas.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    
}

.logo img{
    display: block;
    height: auto;
    width: 400px;    
}

.subtexto_logo{
    position: relative;
    top: 3px;
    left: 200px;

    color:#AD7278;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    
}




/*
.subtexto_logo {
    position: relative; 
    z-index: 2;          esto es que esta encima (como capas en photoshop) 
    color:#AD7278;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

    text-align: center;
    top: 30px;
    right: 200px;
    
}*/


/*ABOUT*/

.titulo_about{
    color:#AD7278;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 20px;
    margin-top: 50px;

    text-align: right;
    margin-right: 60px;
}

.contenedor-texto_about{
    max-width: 500px;
    padding-left: 60px;
}

.subtitulo_about{
    color: #D9B6B9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 15px;
    margin-top: 50px;
}

.texto_about{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 15px;    
}


/*CONTACTO*/

.titulo{
    color:#AD7278;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: right;
    margin-right: 50px;
}

.contenedor-texto{
    max-width: 500px;
    text-align: right;
    margin-right: 50px;
    margin-left: auto;

}


.texto{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 5px 0;
    margin-top: 10px;

}



/*PORTFOLIO*/

.titulo{
    color:#AD7278;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: right;
    margin-right: 50px;
}

.reticula {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    /*max-width: 800px;*/
    margin: 20px 20%; 
}


.portada{
    position: relative;
    overflow: hidden;
    
}

.portada img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.4s ease;
}


.portada img.filtro{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.portada:hover img.filtro {
    opacity: 1;
  }

.portada:hover img.normal{
    opacity:0;
}





/*PORTADA__________01_joyeria*/
/*imagen principal*/

/*Para diferenciarlos!!
    .contenedor_grande   -----    es la PARED, donde ubicamos las imagenes dentro de todo el grupo
    .imagen_principal   ----- es el MARCO, la caja que contiene las fotos
    .imagen_principal img   -----   son las FOTOS, aquí se decide como se quiere que se vean las fotos dentro del marco*/

.contenedor_grande {
  margin-top: 80px; 
  padding: 0 20px;  
  display: flex;
  justify-content: center;
}

.imagen_principal {
  object-fit: contain;
  overflow: hidden; 

  width: 100%;   
  height: 500px;    
  margin-left: 30px;
  margin-right: 30px;
   
}

.imagen_principal img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Llena el marco de 600px sin deformarse */
  object-position: center center; /* Ajusta según si quieres ver más el collar/modelo */
  display: block;
  
  /*transform: rotate(90deg) scale(1.3);*/
}

/*
img [src="03_portfolio_01_maquillaje/01_maquillaje_01_"]{
    transform: rotate(90deg);
}*/





.numero_portfolio{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

    padding: 0px ;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: left;
    margin-left: 50px;
    margin-bottom: 100px;
   
}


.titulo_portfolio{
    color: black;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;

    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: left;
    margin-left: 50px;
}

.texto_portfolio{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

    padding: 0px ;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: left;
    margin-left: 50px;
    width: 45%;
}

.titulo_prototipo{
    color: black;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;

    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: right;
    margin-right: 20px;
}

.texto_prototipo{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

    padding: 0px ;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: right;
    margin-right: 20px;
    width: 45%;
}



/*Para diferenciarlos!!
    .contenedor_pequeño   -----    es la PARED, donde ubicamos las imagenes dentro de todo el grupo
    .imagen_contenido   ----- es el MARCO, la caja que contiene las fotos
    .imagen_contenido img   -----   son las FOTOF, aquí se decide como se quiere que se vean las fotos dentro del marco*/



.contenedor_pequeño {
  margin-top: 80px;
  padding: 0 20px; 
  display: flex;
  justify-content: flex-end; 
}


.imagen_contenido {
  width: 66%; 
  display: flex;
  flex-direction: column; 
  gap: 20px;              
}

.imagen_contenido img {
  width: 100%;
  height: auto;          
  display: block;
  object-fit: cover;
}




.recorte{
    width: 66%; 
  display: flex;
  flex-direction: column; 
  gap: 20px;   
}

.recorte img{
    width: 100%;
    height: 50%;
            
  display: block;
  object-fit: cover;
}






/*CARROUSSEL*/
.carousel {
    position: relative;
    width: 600px;  /* ancho del carrusel */
    height: 400px; /* altura del carrusel */
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    
    overflow: hidden; 
    
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    
    border: none;
    font-size: 2rem;
    padding: 0 10px;
    cursor: pointer;
    
}

button.prev { left: 10px; }
button.next { right: 10px; }




